[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
email-validator = "*"
flask-marshmallow = "*"
marshmallow = "*"

[requires]
python_version = "3.7"
